/HallelNetbeans/nbproject/private/
/HallelNetbeans2/HallelBeans/nbproject/private/
/HallelNetbeans2/HallelBeans/build/
/HallelAdm/nbproject/private/
/HallelNetbeans2/HallelBeans/dist/
/HallelAdm/build/
/Hallel/nbproject/private/
/Hallel/build/