.borda-inferior {
    border: none;
    border-bottom: 1px solid;
}

.borda-inferior:focus {
    border: none;
    box-shadow: 0px 0px 0px 1px #fff, .1rem .1rem .0rem rgba(0, 0, 0);
    /* box-shadow: 0px 0px 0px 1px #fff; */
    /* border-bottom: 1px solid #990906; */
    transition: 0.5s
}

