.inPesquisar {
    margin-left: 50px;
    width: 350px;
    border: 1px solid #000000;
    background-color: #DA381D;
    color: #000000;
}

/* Firefox e Chrome(eu acho)*/
.inPesquisar::placeholder {
    color: #000000;
    opacity: 1;
}

/* Internet Explorer 10-11 */
.inPesquisar:-ms-input-placeholder {
    color: #000000;
}

/* Microsoft Edge */
.inPesquisar::-ms-input-placeholder {
    color: #000000;
}
a{
    color: #ffffff;
}
a:hover{
    color: #720100;
}
.nav-tabs{
    font-size: 23px;
    background-color: black;
}
