.menu-tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #720100;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 16px;
    font-weight: bold;
}



.menu-tabs .nav-tabs a {
    color: #633131;
}

.menu-tabs .nav-tabs a:hover {
    color: #4a0101;
    border-bottom-color: #720100;
}

.retangulo {
    width: 15px;
    height: 40px;
    background-color: #720100;
}

.menu-tabs .tab-content .tab-pane .container-individual {
    background-color: white;
    height: 600px;
}

.menu-tabs .tab-content .tab-pane .container-lista {
    background-color: #22252A;
    height: 600px;
}

.menu-tabs .tab-content .row {

    padding: 0px 10%;

}

.menu-tabs .tab-content .tab-pane .container-lista table tbody tr td:first-child {
    width: 25%
}

#scrolltable {
    margin-top: 50px;
    height: 90%;
    overflow: auto;
}


#scrolltable th {
    position: absolute;

    margin-top: -55px;
    width: 100%;
    border: 0
}

.td-clicavel:hover {
    cursor: pointer;
    color: #e66d6c
    
}
.ck-destaque{
    cursor: pointer;
}

/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
    height: 80px
}
.ripple:hover {
  background: #520e09 radial-gradient(circle, transparent 1%, #520e09 1%) center/15000%;
}
.ripple:active {
  background-color:#520e09;
  background-size: 100%;
  transition: background 0s;
}

.imagem{
    width: 80px;
    height: 40px;
    object-fit: cover;
    object-position: center;
}

#imagemGrande{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.zoom {
	transition: all 0.3s;
}

.zoom:hover {
	transform: scale(0.95);
}

