.barraNav {
    /* background-color: #000000; */
    background-color:rgb(0, 0, 0);
}

.cabecalho {
    background-color: #902726;
}

a:active{
    color: #DA381D
}

#barraDeNavegacao{
    justify-content: center;
}
#barraDeNavegacao ul li{
    margin: 0px 50px;
}

@include media-breakpoint-up(md) {
    html {
      font-size: 1.4rem;
    }
  }