body {
    overflow-x: hidden;
}

#imgNome {
    width: 200px;
    height: 80px;
}

#pesquisa {
    border-color: black;
    border-width: 1px;
    text-indent: 10px;
    color: black;
    width: 300px;
    z-index: 10;
    background: transparent;
    outline: none;
}

.navbar-dark {
    background-color: #DA381D;
}

::-webkit-input-placeholder {
    color: black;
    font: 12px verdana, arial, sans-serif;
}

 :-moz-placeholder {
    color: black;
    font: 12px verdana, arial, sans-serif;
}

 ::-moz-placeholder {
    color: black;
    font: 12px verdana, arial, sans-serif;
}

 :-ms-input-placeholder {
    color: black;
    font: 12px verdana, arial, sans-serif;
}

a {
    color: white;
}

.active {
    color: #DA381D;
}

a:hover {
    color: #DA381D;
}