.titulo {
    /* background-color:#000; */
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}

a {
    color: #ffffff;
}

a:hover {
    color: #720100;
    text-decoration: none;
}

.tit {
    font-size: 20px;
}

body,
html {
    height: 100%;
    font-family: 'Montserrat';
    letter-spacing: 0.4em
}

.page-footer {
    letter-spacing: 0;
}

.parallax {
    background-image: url(rsc/img/fundohallel.png);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btnPadrao {
    background-color: #720100;
    color: white;
    letter-spacing: 0.1px;
    border-width: 0px;
    cursor: pointer;
    height: 40px;
    width: 30%;
}

.btnPadrao:hover {
    border-width: 2px;
    border-color: #720100;
    background-color: transparent;
    color: #720100;
    font-weight: bold;
}

.card {
    background-color: white;
    border-color: transparent;

}

.card:hover {
    background: #00000015;
    cursor: pointer;

}

.cardPreto {
    background-color: rgb(0, 0, 0);
    border-color: transparent;
    color: white
}

.cardPreto:hover {
    color: #720100;
    cursor: pointer;
}

.marcador {
    height: 30px;
    width: 15px;
    background-color: #720100;
    border-width: 0px;
}

.marcadorMidia {
    height: 10px;
    width: 30%;
    background-color: #720100;
    border-width: 0px;
    animation: close-animation 2s;
}


.marcadorMidiaAbriu {
    height: 10px;
    width: 70%;
    background-color: #720100;
    border-width: 0px;
    animation: open-animation 1s;
}

@keyframes open-animation {
    from {
        width: 30%;
    }

    to {

        width: 70%;
    }
}

@keyframes close-animation {
    from {
        width: 70%;
    }

    to {

        width: 30%;
    }
}



.alinhaTitulo {
    float: left;
}

.btnVariavel {
    background-color: #000000;
    color: white;
    letter-spacing: 0.1px;
    border-width: 0px;
    cursor: pointer;
    height: 30px;
    width: 30%;
}

.btnVariavel:hover {
    border-width: 2px;
    border-color: #000000;
    background-color: transparent;
    color: #000000;
    font-weight: bold;
}

