body{
    overflow-x: hidden;
}

.container2 {
    position: relative;
    width: 100%;
}

.image {
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.container2:hover .image {
    opacity: 0.3;
}

.container2:hover .middle {
    opacity: 1;
}

.text {
    color: black;
    font-size: 16px;
}

.objectImage2 {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

input[id='arquivo'] {
    display: none
}