body,
html,
div {
    overflow-x: hidden;
    height: 100%;
}

.alinhar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    margin-top: 5%
}

.carisma {
    color: gray;
    width: 70%;
    margin-top: 6%;
}

.loginForm {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 4%;
    color: white
}

.cadastroForm {
    margin: 5%;
}