.contain {
    width: 100%;
}

.slider {
    position: relative;
    margin: 0;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}


.slider .handle.handlePrev {
    left: -10%;
}

.slider .handle.handleNext {
    right: -10%;
}

.slider .handle.active {
    cursor: pointer;
}

.slider .handle {
    background: transparent;
    position: absolute;
    top: 0;
    height: 100%;
    bottom: 0;
    z-index: 2;
    width: 6%;
    text-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

span .fa {
    font-size: 50px;
}

.row {
    overflow: hidden;
}

.row__inner {
    -webkit-transition: 450ms -webkit-transform;
    transition: 450ms -webkit-transform;
    transition: 450ms transform;
    transition: 450ms transform, 450ms -webkit-transform;
    white-space: nowrap;
}

.gui-card {
    display: inline-block;
    width: 350px;
    height: 90%;
    margin-right: 20px;
    font-size: 20px;

}

/* O container geral define a perspectiva */
/* .flip-container {
    perspective: 1000;
} */

/* vira os containers frente e verso quando o mouse passa em cima */
/* .flip-container:hover .flipper,
.flip-container.hover .flipper {
    transform: rotateY(180deg);
} */
/* 
.flip-container,
.front,
.back {
    width: 100%;
    height: 300px;
} */


/* define a velocidade da transição */

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}


/* esconde o verso durante a animação */
/* 
.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
} */

/* frente posicionada sobre o verso */
/* .front {
    z-index: 2;
} */

/* verso inicialmente escondido */
/* .back {
    transform: rotateY(180deg);
    background-color: #720100;
} */

.objectImage {
    width: 100%;
    height: 250px;
}


.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0, 0.8);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    white-space: initial;

}

.overlay-edit {
    position: absolute;
    top: 5px;
    right: 7px;
    overflow: hidden;
    width: 12%;
    opacity: 0;
    transition: .5s ease;
    white-space: initial;
}
@keyframes btnEditAni{
    from{
        top: -100px;
    }to{
        top: 5px;
    }
}
.aparecer:hover .overlay {
    height: 50%;
}

.aparecer:hover .overlay-edit {
    opacity: 1;
    animation-name: btnEditAni;
    animation-duration: 0.5s;
}

.aparecer p {
    color: #fff;
}